.App .header{
  display:flex;
  justify-content:center;
  font-size: 50px;
  padding:20px;
  color: #17408B;
  font-weight: 650;
  font-family:"Arial"
}
.App .search{
  padding:40px;
  display:flex;
  justify-content:center;
}
.App .playerInfo{
  padding: 5px;
  color: #17408B
}
.App .chart h2{
  display:flex;
  justify-content:center;
  color: #404040;
}
.App .chart .dropdown{
  display:flex;
  justify-content:center;
}
.App .cardHeader h2{
  display:flex;
  justify-content:center;
  color: #404040;
}