.App .header{
  display:flex;
  justify-content:center;
  font-size: 50px;
  padding:20px;
  color: #17408B;
  font-weight: 650;
  font-family:"Arial"
}
.App .search{
  padding:40px;
  display:flex;
  justify-content:center;
}
.App .card{
  display:flex;
  justify-content:center;

}